<div>
    <label>Applicant
        <div>
            <input type="text" ng-model="license.applicant"/>
        </div>
    </label>
</div>
<div>
    <label>Well Type</label>

    <div>
        <select ng-model="license.wellType" ng-options="item for item in wellTypes"></select>
    </div>
</div>
<div>
    <label>Company
        <div>
            <input type="text" ng-model="license.company"/>
        </div>
    </label>
</div>
<div>
    <label>Latitude
        <div>
            <input type="text" ng-model="license.latitude"/>
        </div>
    </label>
</div>
<div>
    <label>Longitude
        <div>
            <input type="text" ng-model="license.longitude"/>
        </div>
    </label>
</div>
<div>
    <label>Status
        <div>
            <select ng-model="license.status" ng-options="item for item in statuses"></select>
        </div>
    </label>
</div>

<div class="form-group">
    <div>
        <input type="submit" value="Save"/>
        <a href="#/license">Back to List</a>
    </div>
</div>