<div class="row">
    <div input-field>
        <label>Company</label>
        <input type="text" ng-model="license.company"/>
    </div>
</div>
<div class="row">
    <div input-field>
        <label>Applicant</label>
        <input type="text" ng-model="license.applicant"/>
    </div>
</div>
<div class="row">
    <label>Well Type</label>
    <select ng-model="license.wellType" ng-options="item for item in wellTypes" material-select></select>
</div>
<div class="row">
    <label>Status</label>
    <select ng-model="license.status"
            ng-options="item for item in statuses" material-select></select>
</div>

<h5>Choose the weel location</h5>

<ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options">
    <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
    </ui-gmap-marker>
</ui-gmap-google-map>