<div>
    <label>Applicant
        <div>
            <input type="text" ng-model="license.applicant"/>
        </div>
    </label>
</div>
<div>
    <label>Well Type</label>

    <div>
        <input type="text" ng-model="license.wellType"/>
    </div>
</div>
<div>
    <label>Company
        <div>
            <input type="text" ng-model="license.company"/>
        </div>
    </label>
</div>
<div>
    <label>Latitude
        <div>
            <input type="text" ng-model="license.latitude"/>
        </div>
    </label>
</div>
<div>
    <label>Longitude
        <div>
            <input type="text" ng-model="license.longitude"/>
        </div>
    </label>
</div>
<div>
    <label>Status
        <div>
            <input type="text" ng-model="license.status"/>
        </div>
    </label>
</div>

<div class="form-group">
    <div>
        <input type="submit" value="Save"/>
    </div>
</div>