<table>
    <tr>
        <td><h3>Details for License</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Applicant</td>
        <td>{{license.applicant}}</td>
    </tr>
    <tr>
        <td>Well Type</td>
        <td>{{license.wellType}}</td>
    </tr>
    <tr>
        <td>Company</td>
        <td>{{license.company}}</td>
    </tr>
    <tr>
        <td>Latitude</td>
        <td>{{license.latitude}}</td>
    </tr>
    <tr>
        <td>Longitude</td>
        <td>{{license.longitude}}</td>
    </tr>
    <tr>
        <td>Date Issued</td>
        <td>{{license.dateIssued}}</td>
    </tr>
    <tr>
        <td>Date Modified</td>
        <td>{{license.dateModified}}</td>
    </tr>
    <tr>
        <td>Date Status</td>
        <td>{{license.status}}</td>
    </tr>
</table>
<div>
    <a href="#/license/edit/{{license._id}}">Edit</a>
</div>