<div class="wrapper license-view">
    <nav class="blue-grey darken-3" role="navigation">
        <div class="nav-wrapper">
            <ul class="left">
                <li><a href="#/"><i class="mdi-navigation-arrow-back"></i></a></li>
                <li class="nav-title">{{license.company}}</li>
            </ul>

            <ul class="right">
                <li><a href="" ng-click="deleteLicense()"><i class="mdi-action-delete"></i></a></li>
                <li><a ng-href="#/edit/{{license._id}}"><i class="mdi-editor-mode-edit"></i></a></li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col l2 m3 s12 icon">
            <i ng-class="'lmi lmi-'+license.status"></i>

            <div class="status">{{license.status}}</div>

            <div>Date Issued</div>
            <div>{{license.dateIssued | date : format : short}}</div>
            <div>Date Modified</div>
            <div>{{license.dateModified | date : format : short}}</div>

        </div>

        <div class="col l5 m9 s12">
            <table>
                <tr>
                    <th>Applicant</th>
                    <td>{{license.applicant}}</td>
                </tr>
                <tr>
                    <th>Well Type</th>
                    <td>{{license.wellType}}</td>
                </tr>
                <tr>
                    <th>Company</th>
                    <td>{{license.company}}</td>
                </tr>
            </table>
        </div>
        <div class="col l5 m12 s12">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options">
                <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
    </div>
</div>

