body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

input.search-input {
    width: 850px;
    margin-left: 20px;
    margin-bottom: 0;
    border: none;
}

.nav-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 650px;
    padding: 0 20px;
    font-size: 22px
}

.nav-title img {
    width: 42px;
    margin-right: 20px;
    margin-top: 10px;
    float: left;
}

.nav-title div{
    float: left;
}

.nav-title:hover {
    background: none !important;
}

.wrapper {
    height: 100vh;
    overflow: auto;
}

.cant-scroll {
    overflow: hidden;
}

input[type=text]:focus {
    box-shadow: none !important;
    border: none !important;

}

.license-list .angular-google-map-container {
    margin-top: 8px;
    position: absolute;
    left: 34.5%;
    top: 74px;
    right: 15px;
    bottom: 15px;
}

.license-view .angular-google-map-container,
.license-edit .angular-google-map-container,
.license-create .angular-google-map-container {
    margin-top: 8px;
    height: 300px
}

nav {
    position: relative;
    z-index: 5;
}

.collection {
    position: absolute;
    bottom: 0;
    top: 74px;
    left: 0;
    width: 31.5%;
    margin-left: 15px;
    overflow: auto;
}

.collection .title {
    width: 100%;
    display: block;
    color: #263238;
}

.collection p {
    color: #546e7a;
}

.lmi {
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
    display: block;
}

.lmi-active {
    background-image: url(../img/active.svg);
}

.lmi-confidential {
    background-image: url(../img/confidential.svg);
}

.lmi-expired {
    background-image: url(../img/expired.svg);
}

.icon .lmi {
    margin: 0 auto;
}

.icon div {
    text-align: center;
}

.icon .status {
    margin-top: 10px;
    font-size: 18px;
}

.license-view .row {
    margin-top: 20px;
}

.license-list .row {
    margin-top: 10px;
}

@media (max-width: 992px) {
    .license-list .angular-google-map-container {
        left: 0;
        top: 56px;
        right: 0;
        bottom: 0;
    }

    .collection{
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        margin-left: 0;
        top: 56px;
    }

    .nav-title {
        width: 450px;
    }
    input.search-input{
        width: 420px;
    }
    .show-in-lg{
        display: none;
    }
}

@media (max-width: 600px) {
    .license-list .angular-google-map-container {
        top: 39px;
    }

    .nav-title {
        width: 180px;
        font-size: 18px;
        padding: 0;
    }

    .nav-title img {
        margin: 0 10px;
        width: 30px;
    }
    .collection{
        top: 48px;
    }

    input.search-input{
        width: 220px;
    }
}